* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  margin: 0;
  height: 100vh;
} */

.image-container {
  width: 50vw;
  height: 50vh;
  margin: 10vh 25vw;
  text-align: center;
}


img {
  width: 100%;
  height: 85%;
  display: block;
  font-size: 2vmin
}


button {
  
  width: 100%;
  height: 15%;
 display: block;
  font-size: 3vmin;
 
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(244, 200, 3),
    rgb(108, 218, 104)
  );
}
